.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 1em;
    margin-top: 1em;
}

.nav-bar-item {
    display: inline;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.logout {
    float: right;
}

.todos-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

.todos-list-card {
    list-style-type: none;
    width: 16em;
    height: 16em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
}

.todos-list-card.done {
    background-color: #62C370;
}

.done:hover {
    background-color: #1C4A23;
    color: white;
}

.todos-list-card.undone {
    background-color: #F686BD;
}

.undone:hover {
    background-color: #894767;
    color: white;
}

.todos-list-card.selected {
    background-color: #058ED9;
}

.selected:hover {
    background-color: #034263;
    color: white;
}

.no-design {
    list-style-type: none;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.column {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    height: 500px; /* adjust as needed */
}
.card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flash-messages {
    margin-bottom: 20px;
    text-align: center;
}
.flash {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    background-color: #f2fea2;
    color: #333;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}